html {
  background-color: rgb(255, 253, 252);
}

.app-container {
  max-width: 80%;
  min-height: 740px;
  border-radius: 20px;
  box-shadow: -10px 5px 5px grey;
  margin: auto;
  background-color: rgb(240, 234, 214);
  padding: 20px 20px 20px 20px;
  border: 3px solid black;
}

h1 {
  margin: 0 auto;
  padding-bottom: 5px;
  color: black;
  font-size: 50px;
  font-family: cursive;
  text-align: center;
  border-bottom:1px solid black;
}

.quote-box {
  margin: 0 auto;
  min-height: 125px;
  padding: 4% 5% 3% 5%;
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace ;
}

.buttons-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 25px;
}

button {
  border: none;
  background-color: rgb(240, 234, 214);
  font-size: 30px;
}

/*

button {
  background-color: grey;
  border: none;
  padding: 30px 30px;
  text-align: center;
  font-size: 40px;
} */